extends global

block main
	.jumbotron
		.notFound.logo.container.text-center.flex-grow-1
			img(src="/img/404.jpg")
			h5.citation <span>Photo by <a href="https://unsplash.com/@aronvisuals?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Aron Visuals</a> on <a href="https://unsplash.com/s/photos/lost?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
			h1.display-4 SORRY
			p.lead Looks like you're lost...
			hr.my-4
			p.lead.lower Click the button below to return to the main site.<br>
				| Find your rank on Google and destroy the competition
			a.btn.btn-lg.myBtn.home(href="/" role="button") Homepage
