doctype html
html(lang="en")
	head
		title Where do I Rank on Google?
		<!-- Global site tag (gtag.js) - Google Analytics -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-177325116-1" nonce=nonce crossorigin="anonymous")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-177325116-1');
		block meta
			meta(name="Description" content="Track your Google rank by keyword and beat the competition. Free to use. Unlimited use")
			meta(charset='utf-8')
			meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		block styles
			link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
			link(rel="stylesheet" href="/css/style.min.css")
			link(rel="icon" href="/img/favicon.ico")
	body
		block schema
			script(type="application/ld+json").
					 {
						 "@context": "http://schema.org",
						 "@type": "Organization",
						 "name": "Carpe Noctem",
						 "url": "https://www.seize-the-night.com",
						 "address": "",
						 "sameAs": [
							 "https://www.facebook.com/138669477606090",
							 "https://twitter.com/SeizeTheNight__"
						 ]
					 }
		block header
		block main
		block social
		#footer.container-fluid.text-center
			a#gitHubFollow(title="Contribute" href="https://github.com/Neil-Brown/Google-Ranking" rel="noreferrer")
				img.gitHubLogo.socialLogo(alt="github link" src="/img/GitHub-Mark-Light-64px.png")
			h2 Contribute
			.footer-copyright.text-center.py-3 ©2020 Neil Brown
		block js
			script(src="https://cdn.jsdelivr.net/npm/bootstrap.native@3.0.0/dist/bootstrap-native.min.js" integrity="sha384-kvQSltvHvSg/3tzsKo6WscGmhSm10Tqg7f4Sn+okA4GdpCI/h8UjPpU/M4ea/z9V" crossorigin="anonymous")
