extends header
block main
	.jumbotron.jumbotron-fluid#rank
		h1.display-4 Where do I Rank on Google?
		p.lead Find where your site ranks on Google for keywords
		p.lead Compare with your competitor's position
		p.lead We check the top 100 sites on Google
		form.container#getRank.md-form.text-center(name ="getRank" action="/getRank" method="post" enctype="multipart/form-data")
			.row
				input.col#site(type="url" placeholder="https://myWebsite.com" name="site")
				label.hide(for="site") Your Site URL
			.row#key1
				.col-10
					input.key#keyword1(type="text" placeholder="Keyword 1" name="key1")
					label.hide(for="keyword1") Keyword 1
				.col-2.my-auto
					.spinner-grow(role="status")
						span.sr-only Loading...
					span.badge.badge-pill.badge-primary.showUrl(data-dismiss="true" data-title="URL" data-placement="left" data-toggle="popover" data-content="Unspecified") 0
			.row#key2
				.col-10
					input.key#keyword2(type="text" placeholder="Keyword 2" name="key2")
					label.hide(for="keyword2") Keyword 2
				.col-2.my-auto
					.spinner-grow(role="status")
						span.sr-only Loading...
					span.badge.badge-pill.badge-primary(data-title="URL" data-placement="left" data-toggle="popover" data-content="Unspecified") 0
			.row#key3
				.col-10
					input.key#keyword3(type="text" placeholder="Keyword 3" name="key3")
					label.hide(for="keyword3") Keyword 3
				.col-2.my-auto
					.spinner-grow(role="status")
						span.sr-only Loading...
					span.badge.badge-pill.badge-primary(data-title="URL" data-placement="left" data-toggle="popover" data-content="Unspecified") 0
			.row
				.alert#rankAlert.alert-dismissible.fade.show(role="alert")
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") &times
					p Some critical notice.
			.row
				button.col.btn(action="submit") Try for Free
block append js
	script(src="/js/main.js")
